
interface=wlan0
	dhcp-range={{ ap_start_ip_addr | default(default_ap_start_ip_addr) }},{{ ap_end_ip_addr | default(default_ap_end_ip_addr) }},{{ ap_subnet_mask | default(default_ap_subnet_mask) }},12h
